html,
body {
    font-family: 'Baloo 2', cursive;
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 5px solid black;

    height: 60px;
    font-size: 32px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    ;
}


.left-header {
    display: flex;
}

.right-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    height: 33px;
    width: 45px;
    margin: auto;
    padding: 10px;

    -webkit-filter: drop-shadow(4px 4px 0 black);
    filter: drop-shadow(4px 4px 0 black);
}

.header p {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 40px;
    width: 348px;
    padding: 0;
    margin-bottom: 0;
}

.top {
    display: flex;
}

.bottom {
    display: flex;
}

.erase-button-container {
    display: flex;
    justify-content: right;

}

.erase {
    border-top: 0;
    border-bottom: 5px solid black;
}

.erase:hover {
    background-color: #E90100;
}

.erase:active {
    background-color: aqua;
}

button {
    font-family: 'Baloo 2', cursive;
    width: 116px;
    height: 20px;
    background-color: white;
    border: 5px solid black;
    border-bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#custom,
#black {
    border-right: 0;
}

.rgb-animation {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;}
    
    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow { 
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
  }

/* ----------------BUILD BOARD--------------- */

.board {
    display: grid;
    height: 696px;
    width: 696px;
    border: 5px solid black;
    background-color: white;
}

.pixel {
    border: 1px solid rgb(115, 115, 115);

}

/* -------------COLOR PICKER GRID------------ */
.color-picker-grid{
    display: grid;
    height: 245px;
    width: 245px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    border: 2.5px solid black;
}

.cPixel {
    border: 2.5px solid black;

}



/* ------------------SWITCH------------------ */
.switch {
    position: relative;
    display: flex;
    align-items: center;
    width: 60px;
    height: 34px;

}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #E90100;
}


.slider.round {
    border-radius: 34px;
    background-color: white;

}

.slider:active {
    background-color: white;

}

.slider:hover {
    background-color: #E90100;
}

/* -----------------MENUS----------------- */
.menu-left-header, .menu-right-header{
    display: flex;
    align-items: center;
    font-size: 32px;
}

.title {
    margin-left: auto;
    margin-right: auto;  

}

.x-button {
    border: none;
    width: 20px;
    height: 20px;
    margin-left: 90%;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    background-color: transparent;
}

.left-menu {
    z-index: 1;
    position: absolute;
    left: 100px;
    top: 125px;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 696px;
    border: 5px solid black;

    background-color: #D9D9D9;


}

.color-preview-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

#color-preview {
    border: 5px solid black;
    height: 40px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    
}

#apply-button {
    border-bottom: 5px solid black;
    height: 50px;
    width: 80px;
    font-size: 20px;
    background-color: white;

}

.right-menu {
    z-index: 1;
    position: absolute;
    right: 100px;
    top: 125px;
    width: 320px;
    height: 696px;
    border: 5px solid black;

    background-color: #D9D9D9;

}

.right-menu-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}

.right-menu-buttons-container button {
    border-bottom: 5px solid black;
    height: 50px;
    width: 240px;
    font-size: 28px;
    background-color: white;
    

}

/* ------------------SLIDERS------------------ */

.right-menu-slide-container {
     width: 240px;
     margin-left: 38px;
     margin-top: 80px;
}

.grid-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: black;
    outline: none; /* Remove outline */
     border-radius: 50px;
}

.grid-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: white; /* white background */
    cursor: pointer; /* Cursor on hover */
    border: 5px solid black;
    border-radius: 50%;
  }

  .grid-slider::-moz-range-thumb {
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: white; /* White background */
    cursor: pointer; /* Cursor on hover */
  }


  .rgb-slider-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-left: 30px;
    gap: 40px;    
  }

  #red, #green , #blue {
    appearance: none;
    width: 105%; 
    height: 10px; 
    background: black;
    outline: none; 
    border-radius: 50px;

  }

  #red::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #E01D2E; /* red background */
    cursor: pointer; /* Cursor on hover */
    border: 5px solid black;
    border-radius: 50%;
  }

  #green::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #00B453; /* white background */
    cursor: pointer; /* Cursor on hover */
    border: 5px solid black;
    border-radius: 50%;

  }

  #blue::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #0171DD; /* white background */
    cursor: pointer; /* Cursor on hover */
    border: 5px solid black;
    border-radius: 50%;

  }
